@import url("https://fonts.googleapis.com/css?family=Montserrat");
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  
}
.pricing-table{
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center; 
}

.pricing-table .block-heading h2 {
  color: #3b99e0;
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7; 
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid #5ea4f3;
  padding: 30px;
  overflow: hidden;
  position: relative; 
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px; 
}

.pricing-table .item button {
  font-weight: 600; 
}

.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; 
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7; 
}

.pricing-table .features .feature {
  font-weight: 600; }

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px; 
}

.pricing-table .price h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #2288f9; 
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0; 
}

.contact-form {
    background-color: #fbfbfb;
    padding: 15px 20px 15px;
    border: 1px solid #ececec;
    width: 450px;
    margin: 50px auto;
}
.contact-form .form-header {
    margin-bottom: 40px;
}
.contact-form form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
}
.contact-form form .btn {
    width: 100%;
}
.contact-form .form-header h2 {
    font-weight: bold;
    color: #03A9F4;
}

.contenedorImg{
  display: none;
}

      .carta{
        display: none;
      }
      .carta:nth-child(1){
        display: block;
      }
       .mas{
        
        position: absolute;
        right:40px;
        width:40px;
        height:40px;  
        border:1px solid red;
        text-align: center;
        line-height: 32px;
        z-index: 50000;
        cursor: pointer;
        border-radius:5px;
        font-size:1.5em;  
        
        
      }
 #navColor{
  background:#2d6187;
 }
/*-- CSS for extra small devices--*/
@media screen and (max-width:768px) {
.contact-form {
    width: 90%;
}
.navbar-collapse{
  border:1px solid red;
  width: 100%;
}
.navbar-collapse li{
  background:red;
  margin-top:0;
}
ul li{
  margin-top:-30px;
}
.wave{
  position:relative;
  top:250px;
  display:none;
  
}
header{
  height: 60px !important;
  width: 100%;
  position: fixed;
  z-index: 100000000000;
  bottom:0;
  display: flex;


}
.container{

  width: 100%;
} 
.menu{
  display: flex;
  
}
  .menu nav li{
    border:1px solid black;
    flex:1 1 auto;
  }

.imgFondo{
  display: none;
}  
.navbar{
  display: flex;
  width: 100%;
}
}
